<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<footer>
		<div id= "footer_area">
			<ul class="footer_itemlist">
				<li>
					<a class="about">GIVE ME!</a>
				</li>
			</ul>
			<div class="footer_copyright">
				<h5>© GIVE ME! All Rights Reserved.</h5>
			</div>
			<div class="footer_copyright">
			사업자 등록번호 : 000-00-00000  |  서울특별시 금천구 가산동 448 대륭테크노타운 3차 308호 7강의실  |  고객문의 : baba1399@gmail.com
			</div>
			<div class="footer_copyright">
			GIVE ME! 대표 윤경민
			</div>
		</div>	
	</footer>
</body>
</html>