<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="headerFragment">
		<nav>
			<div id ="login_header">
				<ul>
					<li>
						<a href="/">로그아웃</a>
					</li>
					<li>
						<a href="/">내정보</a>
					</li>
				</ul>
			</div>	
		</nav>
		<div id="logo_header">
			<div class="logo">
				<img id="logo_img" src="/img/logo.png">
			</div>
			<div id="search">
				<input id="search_bar"type="text" placeholder="상품명을 입력해보세요">
				<button id="search_btn">
					<img src="/img/search.png">
				</button>
			</div>
			<div>
				<button id="login_btn">
					<img id="login_img" src="/img/kakao-talk.png">
					<span>카카오 로그인</span>
				</button> 
				<button id="category_btn"> 
					<img id="category_img" src="/img/category.png">
				</button>
			</div>
		</div>			
	</header>
	<aside id="menu_accordion">
		<span class="close">&times;</span>
		<div id="hello">
			<div id="profile">
				<img id="profile_img" src="/img/profile.jpg">
			</div>
			<div id="hi">
				<h3>윤경민님</h3>
				<h1>안녕하세요!</h1>
			</div>
		</div>
		<div id="menu_category">
		<h1>카테고리</h1>
			<ul id ="categoty_name">
				<li><a href="#">남성의류/잡화</a></li>
				<li><a href="#">여성의류/잡화</a></li>
				<li><a href="#">유아동/출산</a></li>
				<li><a href="#">디지털/가전</a></li>
				<li><a href="#">도서/티켓/음반</a></li>
				<li><a href="#">게임/취미</a></li>
				<li><a href="#">애완용품</a></li>
				<li><a href="#">스포츠/레저</a></li>
				<li><a href="#">가구</a></li>
				<li><a href="#">뷰티/미용</a></li>
				<li><a href="#">식품</a></li>
				<li><a href="#">기타</a></li>
			</ul>
		</div>
	</aside> 
	</th:block>
</html>