@charset "UTF-8";
html{
	font-size: 16px;
	 height: 100%
}
body,h1,h2,h3,h4,h5,ul{
	margin: 0; padding: 0; height: 100%;
}
ol, ul {
	list-style: none;
}
input,textarea,button:focus {
    outline: none;
}

/*header*/
header{
	min-height: 80px;
	background-color: #ffffff;
	color: #d3bde8;
	width: 100%;
	border-bottom: 1px solid;
	border-color: rgb(238,238,238);
	float: left;
}
nav{
	margin: 0 calc((100% - 1200px) / 2);
}
nav div{
	float: left;
}
.logo{
	padding-top: 20px;
	
}
.logo span{
	margin-left: 30px;
	font-size: 25px;
	cursor: pointer;
}
#logo_img{
	width: 300px;
	margin: 0 50px 10px 0;
}
/*search*/
#search{
	margin-top: 28px;
	border-bottom: 1px solid;
	border-color: black;
}
#search_bar{
	padding: 40px 20px 20px 20px;
	width: 400px;
	border: 0;
	font-size: 18px;
}
#search_btn{
	border: 0;
	background-color: white;
	cursor: pointer;
	padding: 0;
	position: relative;
    top: 10px;
}
/*login*/
#login_btn{
	background-color: white;
	cursor: pointer;
	padding: 10px;
	border: 1px solid;
	border-radius: 15px;
	border-color: #000000;
	margin: 55px 0 0 50px;
	
}
#login_btn:hover{
	background-color: #6c3600;
	color: white;
	border-color: black;
}
#login_btn span{
	position: relative;
    bottom: 8px;
}
#login_img{
	margin-right:5px;
	width: 30px;
	height: 30px;
}
/*section*/
section{
	width:100%;
	min-height: calc(100% - 110px);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* 	background-image: url(); */
	/* 	background-size: cover; */
	/* 	background-color: #ebebeb; */
	
}
/*footer*/
footer{
	min-height: 110px;
	background-color: #333;
	color: white;
	position: absolute;
/*     bottom: 0; */
/*     left: 0; */
    margin: 0 auto;
    width: 100%;
}
#footer_area{
	margin: 0 calc((100% - 1200px) / 2);
}
.footer_itemlist{
	margin-top: 10px;
}
.about{
	cursor: pointer;
}
.footer_copyright{
	margin-top: 10px;
	width: 1080px;
	font-size: 11px;
	line-height: 1.5;
}
