@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
html{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 16px;
	 height: 100%
}
article div:after{
	content: '';
	display: block;
	clear: both;
}
body,h1,h2,h3,h4,h5,ul{
	margin: 0; 
	padding:0; 
	height: 100%;
}
ol, ul {
	list-style: none;  
	width: 100%;
}
input,textarea,button:focus {
    outline: none;
}
section{
	padding-top: 200px;
}

/*login header*/
header nav{
	background-color: #ffffff;
	border-bottom: 1px solid;
	border-color: rgb(238,238,238);
	width: 100%;
	z-index: 2;
}
#login_header {
	padding: 0;
	margin: 0 calc((100% - 1200px) / 2);
}
#login_header ul:after{
	content: '';
	display: block;
	clear: both;
}
#login_header ul li{
	width: 70px;
	float: right;
	margin: 10px 0;
}
/*header*/
header{
	background-color: #ffffff;
	border-bottom: 1px solid;
	border-color: rgb(238,238,238);
	width: 100%;
	position: fixed;
	z-index: 2;
}
header div{
	display: flow-root;
}
#logo_header{
	padding: 0;
	margin: 0 calc((100% - 1200px) / 2);
}
.logo{
	padding-top: 20px;
	float: left;
}
.logo span{
	margin-left: 30px;
	font-size: 25px;
	cursor: pointer;
}
#logo_img{
	width: 300px;
	margin: 0 50px 10px 0;
}
/*menu*/
aside{
	position: fixed;
	width: 400px;
	height: 100vh;
	background-color: #ffffff;
	right: -400px;
	z-index: 100;
	opacity: 0;
}
.close{
	cursor: pointer;
  	font-size: 3em;
  	margin-top: -5px;
  	margin-right: 10px;
  	float: right;
}
#overlay_t {
	background-color: #000;
	bottom: 0;
	left: 0;
	opacity: 0.7;
	filter: alpha(opacity = 50); 
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99;
	display: none;
}
/*menu content*/
#hello{
	height: 250px;
	border-bottom: 1px solid;
	border-color: rgb(238,238,238);
	padding: 20px;
	opacity: 0; 
}
#profile{
	border-radius: 50px;
	width: 130px;
	height: 130px;
	margin: 80px 0 0 20px;
	float: left;
}
#profile_img{
	border: 0px;
    border-radius: 130px;
	width: 130px;
	height: 130px;
}
#hi{
	float: left;
}
#hi h3{
	margin: 110px 0 0 70px;
}
#hi h1{
	margin: 20px 0 0 47px;
}
#menu_category a{
	color: black;
	text-decoration:none;
}
#menu_category h1{
	opacity: 0; 
}
#menu_category li{
	opacity: 0;
}

#menu_category h1,li{
	margin: 24px;
    padding-left: 21px;
}
#menu_category li:hover{
	background-color: #353535;
	color: white;
}
#menu_category li:hover a{
	color: inherit;
}
/*search*/
#search{
	margin-top: 28px;
	border-bottom: 1px solid;
	border-color: black;
	float: left;
}
#search_bar{
	padding: 40px 20px 20px 20px;
	width: 400px;
	border: 0;
	font-size: 18px;
}
#search_btn{
	border: 0;
	background-color: white;
	cursor: pointer;
	padding: 0;
	position: relative;
    top: 10px;
}
/*login*/
#login_btn{
	background-color: #f3d814;
	cursor: pointer;
	padding: 10px;
	border:0;
	border-radius: 10px;
	margin: 55px 0 0 50px;
	color: #4a250d;
	font-weight: bold;
}
#login_btn:hover{
	background-color: #974b00;
	color: white;
	border-color: black;
}
#login_btn span{
	position: relative;
    bottom: 8px;
}
#login_img{
	margin-right:5px;
	width: 30px;
	height: 30px;
}
/*category*/
#category_btn{
	background-color: white;
	cursor: pointer;
	padding: 10px;
	border: 0;
	margin: 20px 0 0 40px;
	position: relative;
	top: 10px;
}
#category_img{
	width: 50px;
	height: 50px;
}
/*section*/
section{
	width:100%;
	min-height: calc(100% - 110px);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
article{
	padding: 0;
	margin: 0 calc((100% - 1200px) / 2);
}
/*footer*/
footer{
	min-height: 110px;
	background-color: #333;
	color: white;
	position: absolute;
/*     bottom: 0; */
/*     left: 0; */
    margin: 0 auto;
    width: 100%;
}
#footer_area{
	margin: 0 calc((100% - 1200px) / 2);
}
.footer_itemlist{
	margin-top: 10px;
}
.about{
	cursor: pointer;
}
.footer_copyright{
	margin-top: 10px;
	width: 1080px;
	font-size: 11px;
	line-height: 1.5;
}
