<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<title>GIVE ME !</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src = "/js/home.js" ></script>
	<script type="text/javascript" src = "/js/common.js" ></script>
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/home.css">
</head>
<body>
	<th:blck h2/>
<!-- 	 <th:block th:replace="/fragments/header :: headerFragment"></th:block> -->
	<header>
			<nav th:if="${session.userId != null}">
				<div id ="login_header">
					<ul>
						<li>
							<a href="/logout" >로그아웃</a>
						</li>
						<li>
							<a href="#" onclick="location.href='/myPage';">내정보</a>
						</li>
						<li>
							<a href="#" onclick="location.href='/writing';">상품등록</a>
						</li>
					</ul>
				</div>	
			</nav>
		<th:block th:if="${session.userId !=null}">
		<div id="logo_header">
			<div class="logo">
				<img id="logo_img" src="/img/logo.png" onclick="location.href='/';">
			</div>
			<div id="search">
				<input id="search_bar"type="text" placeholder="상품명을 입력해보세요">
				<button id="search_btn">
					<img src="/img/search.png">
				</button>
			</div>
			<div>
				<a href="/login" class="login_a">
					<button id="login_btn">						
							<img id="login_img" src="/img/kakao-talk.png">
							<span>카카오 로그인</span>
					</button> 
				</a>
				<button id="category_btn"> 
					<img id="category_img" src="/img/category.png">
				</button>
			</div>
		</div>			
	</header>
	<aside id="menu_accordion">
		<span class="close">&times;</span>
		<div id="hello">
			<div id="profile">
				<img id="profile_img" src="/img/profile.jpg">
			</div>
			<div id="hi">
				<h3>윤경민님</h3>
				<h1>안녕하세요!</h1>
			</div>
		</div>
		<div id="menu_category">
		<h1>카테고리</h1>
			<ul id ="categoty_name">
				<li><a href="#" onclick="location.href='/itemList';">남성의류/잡화</a></li>
				<li><a href="#">여성의류/잡화</a></li>
				<li><a href="#">유아동/출산</a></li>
				<li><a href="#">디지털/가전</a></li>
				<li><a href="#">도서/티켓/음반</a></li>
				<li><a href="#">게임/취미</a></li>
				<li><a href="#">애완용품</a></li>
				<li><a href="#">스포츠/레저</a></li>
				<li><a href="#">가구</a></li>
				<li><a href="#">뷰티/미용</a></li>
				<li><a href="#">식품</a></li>
				<li><a href="#">기타</a></li>
			</ul>
		</div>
	</aside> 
	<section>
		<div id="overlay_t"></div>
		<article id="ad_article">
			<div id="ad">광 고 창</div>
		</article>
		<article>
	    	<h1 class="home_title">새로 등록된 상품</h1>
	    	<div>
	  			<div class="item_div" onclick="location.href='/itemDeatails';">
	  				<img style="width: 100%; height: 240px;" src="/img/sample/sample_img1.jpg">
	  				<div>
	  					<h4>안쓰는 기타 나눔합니다.</h4>
	  					<h5>무료나눔</h5>
	  				</div>
	  			</div>
	  			<div class="item_div">
	  				<img style="width: 100%;" src="/img/sample/sample_img2.jpg">
	  				<div>
	  					<h4>에어프라이기 나눔해요^^</h4>
	  					<h5>무료나눔</h5>
	  				</div>
	  			</div>
	  			<div class="item_div">
	  				<img style="width: 100%;" src="/img/sample/sample_img3.jpg">
	  				<div>
	  					<h4>좋은 책 하나 가져가세요!</h4>
	  					<h5>무료나눔</h5>
	  				</div>
	  			</div>
	  			<div class="item_div">
	  				<img style="width: 100%;" src="/img/sample/sample_img4.jpg">
	  				<div>
	  					<h4>애기들 책 가져가실분 선착순!</h4>
	  					<h5>무료나눔</h5>
	  				</div>
	  			</div>
	    	</div>
		</article>
		<article>
	    	<h1 class="home_title">동네상품</h1>
	    	<div>
	  			<div class="item_div">
	  				<img src="/img/sample/sample_img1.jpg">
	  				<div>
	  					<h4>안쓰는 기타 나눔합니다.</h4>
	  					<h5>무료나눔</h5>
	  				</div>
	  			</div>
	  			<div class="item_div">
	  				<img src="/img/sample/sample_img2.jpg">
	  				<div>
	  					<h4>에어프라이기 나눔해요^^</h4>
	  					<h5>무료나눔</h5>
	  				</div>
	  			</div>
	  			<div class="item_div">
	  				<img src="/img/sample/sample_img3.jpg">
	  				<div>
	  					<h4>좋은 책 하나 가져가세요!</h4>
	  					<h5>무료나눔</h5>
	  				</div>
	  			</div>
	  			<div class="item_div">
	  				<img src="/img/sample/sample_img4.jpg">
	  				<div>
	  					<h4>애기들 책 가져가실분 선착순!</h4>
	  					<h5>무료나눔</h5>
	  				</div>
	  			</div>
	    	</div>
		</article>
	</section>
	<footer>
		<div id= "footer_area">
			<ul class="footer_itemlist">
				<li>
					<a class="about">GIVE ME!</a>
				</li>
			</ul>
			<div class="footer_copyright">
				<h5>© GIVE ME! All Rights Reserved.</h5>
			</div>
			<div class="footer_copyright">
			사업자 등록번호 : 000-00-00000  |  서울특별시 금천구 가산동 448 대륭테크노타운 3차 308호 7강의실  |  고객문의 : baba1399@gmail.com
			</div>
			<div class="footer_copyright">
			GIVE ME! 대표 윤경민
			</div>
		</div>	
	</footer>
</body>
</html>