<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>GIVE ME !</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src = "/js/home.js" ></script>
	<script type="text/javascript" src = "/js/common.js" ></script>
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/home.css">
</head>
<body>
	{{> layout/header}}
	<section>
		<div id="overlay_t"></div>
		<article id="ad_article"> 
			<div id="ad">광 고 창</div>
		</article>
		<article>
	    	<h1 class="home_title">새로 등록된 상품</h1>
	    	<div>
	    	{{#newItem}}
	  			<div class="item_div" onclick="location.href='/itemDeatails/{{user_no}}/{{no}}';">
	  				<img style="width: 100%; height: 240px;" src="{{img_path}}">
	  				<div>
	  					<h4>{{title}}</h4>
	  					<h5>{{price}}</h5>
	  				</div>
	  			</div>
	  		{{/newItem}}	
	    	</div>
		</article>
		<article>
	    	<h1 class="home_title">인기상품</h1>
	    	{{#hitItem}}
	    	<div>
	  			<div class="item_div" onclick="location.href='/itemDeatails/{{user_no}}/{{no}}';">
	  				<img src="{{img_path}}">
	  				<div>
	  					<h4>{{title}}</h4>
	  					<h5>{{price}}</h5>
	  				</div>
	  			</div>
	  		{{/hitItem}}
	    	</div>
		</article>
	</section>
	{{> layout/footer}}
</body>
</html>