<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>상품상세</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src = "/js/itemD.js" ></script>
	<script type="text/javascript" src = "/js/common.js" ></script>
	<script type="text/javascript" src = "/js/writing.js" ></script>
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/itemD.css">
	<link rel="stylesheet" href="/css/writing.css">
</head>
<body>
	<header>
		{{# userId}}
		<nav>
			<div id ="login_header">
				<ul>
					<li>
						<a href="/logout" >로그아웃</a>
					</li>
					<li>
						<a href="#" onclick="location.href='/myPage';">내정보</a>
					</li>
					<li>
						<a href="#" onclick="location.href='/writing';">상품등록</a>
					</li>
				</ul>
			</div>	
		</nav>
		{{/ userId}}
		<div id="logo_header">
			<div class="logo">
				<img id="logo_img" src="/img/logo.png" onclick="location.href='/';">
			</div>
			<div id="search">
				<input id="search_bar"type="text" placeholder="상품명을 입력해보세요">
				<button id="search_btn">
					<img src="/img/search.png">
				</button>
			</div>
			<div>
			{{# userId}}
				<div id="login_div"></div>
				<button id="category_btn" class="category_btn2"> 
					<img id="category_img" src="/img/category.png">
				</button>
			{{/ userId}}
			{{^ userId}}
				<a href="/login" class="login_a">
					<button id="login_btn">						
							<img id="login_img" src="/img/kakao-talk.png">
							<span>카카오 로그인</span>
					</button> 
				</a>
				<button id="category_btn" class="category_btn"> 
					<img id="category_img" src="/img/category.png">
				</button>
				
			{{/ userId}}	
			</div>
		</div>			
	</header>
	<aside id="menu_accordion">
		<span class="close">&times;</span>
		{{# userId}}
		<div id="hello">
			<div id="profile">
				<img id="profile_img" src="{{profile_img}}">
			</div>
			<div id="hi">
				<h3>{{nick_name}}님</h3>
				<h1>안녕하세요!</h1>
			</div>
		</div>
		{{/ userId}}
		{{^ userId}}
		<div id="hello">
			<div id="profile">
				<img id="profile_img" src="/img/default_img.jpg">
			</div>
			<div id="hi">
				<h3>고객님</h3>
				<h1>안녕하세요!</h1>
			</div>
		</div>
		{{/ userId}}
		<div id="menu_category">
		<h1>카테고리</h1>
			<ul id ="categoty_name">
				<li><a href="#" onclick="location.href='/itemList';">남성의류/잡화</a></li>
				<li><a href="#">여성의류/잡화</a></li>
				<li><a href="#">유아동/출산</a></li>
				<li><a href="#">디지털/가전</a></li>
				<li><a href="#">도서/티켓/음반</a></li>
				<li><a href="#">게임/취미</a></li>
				<li><a href="#">애완용품</a></li>
				<li><a href="#">스포츠/레저</a></li>
				<li><a href="#">가구</a></li>
				<li><a href="#">뷰티/미용</a></li>
				<li><a href="#">식품</a></li>
				<li><a href="#">기타</a></li>
			</ul>
		</div>
	</aside>
	<section>
	<div id="overlay_t"></div>
		<article id = "item_info">
			<div class="item_line">
				<div class="item_div">
					<form>
		   				<div id="img_container" class="slideshow-container" >
							<div class="mySlides fade">
							  <div class="numbertext">1 / 6 (Thumbnail)</div>
							  <div class="imgs_wrap">
							  	<img class="product_img" src="/img/upload-icon.png" style="width:100%">
							  </div>
							  <div class="text">서브 이미지는 최대 5개까지 등록가능합니다.</div>
							</div>
							
							<div class="mySlides fade">
							  <div class="numbertext">2 / 6</div>
							  <div class="imgs_wrap">
							  	<img class="product_img" src="/img/upload-icon.png" style="width:100%">
							  </div>
							</div>
							
							<div class="mySlides fade">
							  <div class="numbertext">3 / 6</div>
							  <div class="imgs_wrap">
							  	<img class="product_img" src="/img/upload-icon.png" style="width:100%">
							  </div>
							</div>
							
							<div class="mySlides fade">
							  <div class="numbertext">4 / 6</div>
							  <div class="imgs_wrap">
							  	<img class="product_img" src="/img/upload-icon.png" style="width:100%">
							  </div>							
							</div>
							
							<div class="mySlides fade">
							  <div class="numbertext">5 / 6</div>
							  <div class="imgs_wrap">
							  	<img class="product_img" src="/img/upload-icon.png" style="width:100%">
						      </div>
							</div>
							
							<div class="mySlides fade">
							  <div class="numbertext">6 / 6</div>
							  <div class="imgs_wrap">
							 	 <img class="product_img" src="/img/upload-icon.png" style="width:100%">
							  </div>
							</div>
							
							<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
							<a class="next" onclick="plusSlides(1)">&#10095;</a>
						</div>
						<br>				
						<div style="text-align:center">
						  <span class="dot" onclick="currentSlide(1)"></span> 
						  <span class="dot" onclick="currentSlide(2)"></span> 
						  <span class="dot" onclick="currentSlide(3)"></span>
						  <span class="dot" onclick="currentSlide(4)"></span> 
						  <span class="dot" onclick="currentSlide(5)"></span>
						  <span class="dot" onclick="currentSlide(6)"></span> 
						</div>
		   			</form>
<!-- 					{{#get_img}} -->
<!-- 					<img class="item_img" src="{{img_path}}"> -->
<!-- 					{{/get_img}} -->
				</div>
			</div>
			<div class="item_line">
				<div class="item_div2">
					<span class="item_like">♡</span>
					<span class="item_like">100</span>
					<span>ㆍ</span>
					<span class="item_trust">☆</span>
					<span class="item_trust">100</span>
					<span>ㆍ</span>
					<span>조회수</span>
					<span>{{get_ItemD.hit}}</span>
					<span>ㆍ</span>
					<span>5분전</span>
				</div>
				<div id="item_profile" class="item_padding">
					
					<img src="{{writer_info.profile_img}}">
				</div>
				<div class="item_padding">
					<h3 class="item_nickname">{{writer_info.nick_name}}</h3>
				</div>
				<div class="item_padding">
					<span class="item_1">ㆍ기본주소</span>
					<span class="item_2">서울시 노원구</span>
				</div>
				<div class="item_padding item_last">
					<span class="item_1">ㆍ가격</span>
					<span class="item_2">{{get_ItemD.price}}</span>
				</div>
				<div>
					<button class = "like_btn">찜</button>
					<button class = "call_btn">연락하기</button>
				</div>
			</div>
			<div class="item_line">
				<div class="item_div">
					<h2>상품정보</h2>
				</div>
			</div>
			<div class="item_line">	
				<div class="item_div">
				{{get_ItemD.content}}
<!-- 					<p>1. 제조사/제품명 -->
<!-- 						<br>덱스터 AD-100S OM 통기타<br> -->
<!-- 						<br>2. 구입가격/구입처/판매가격/교환가격<br> -->
<!-- 						판매가격 14만원<br> -->
<!-- 						<br>3. 제품설명<br> -->
<!-- 						<br>국내에서 만든 덱스터 AD-100S OM 통기타 입니다. 전체적으로 사용감 있지만 넥상태, 줄높이 좋습니다. 초중급용으로 많이 사용하는 기타이며 국내 생산 시더 탑솔리드로 만들어져 울림이 좋습니다. 오엠바디 사이즈로 일반기타 보다 작아 체구가 작은 성인, 여성, 학생 분들이 사용하기 좋은 기타입니다. 현재 국산 스트링으로 셋팅되어 있어 통기타를 처음 배우시는 분의 입문용, 연습용, 세컨용, 업글용 등 기타를 구매하시는 분들에게 권해드립니다.<br>  -->
<!-- 						<br>중고장터에서 구매하는 일부 기타 중 세팅이 안돼있는 기타는 연주하기 어려울 뿐 아니라 기타를 처음 배우는 분들에게 기타 습득의 어려움과 심한 손가락 통증을 유발해 기타연습을 쉽게 포기하게 만듭니다.<br> -->
<!-- 						<br>통앤클래식에서 판매되는 모든 기타는 수리와 세팅이 완료된 기타로 앞으로도 오랫동안 사용할 수 있습니다. 중고 기타의 경우 오래 사용하였고 수리부분, 흠집이 있다는 단점이 있지만 요즘 시중에서 싸게 판매되는 저가 중국산보다 튼튼하고 울림이 좋습니다.<br> -->
<!-- 						<br>사진은 뽀샵, 이미지 처리를 하지 않은 원본 사진입니다.실물과 차이가 있을 수 있으므로 중고에 민감하신 분은 직거래를 권해드립니다.<br> -->
<!-- 						<br>구성: 기타, 가방, 피크3개, 여분줄 1세트<br> -->
<!-- 						<br>※ 문의 및 재고확인: ***-****-**** 또는 http://cafe.naver.com/123456789 에서 가능합니다.<br> -->
<!-- 						<br>4. 직거래/택배거래가능여부<br> -->
<!-- 						<br>평택 서정리역 5분거리에서 직거래 가능하며 기타전용박스에 택배거래도 가능합니다. 그외 다른기타와 교환거래도 가능합니다.<br> -->
<!-- 					</p> -->
				</div>
			</div>
			<div class="item_line">	
				<div class="item_div">
					<h2>댓글</h2>
				</div>
			</div>
			<!-- 댓글입력 -->
			<div class="item_line">	
				<div class="item_div">		
				<div id="comment_profile" class="item_padding">
					<img src="/img/profile.jpg">
				</div>
				<div class="comment_nickname_div">
					<h5 class="comment_nickname">윤경민</h5>
				</div>
				<input id="comment" type="text" placeholder="댓글 입력">
				<button id="comment_btn">댓글</button>
				</div>
			</div>
			<div class="item_line">	
				<div class="item_div">		
				<div id="comment_profile" class="item_padding">
					<img src="/img/profile.jpg">
				</div>
				<div class="comment_nickname_div">
					<h5 class="comment_nickname">윤경민</h5>
				</div>
				<span class="comment_content">안녕하세요 다른 기타와 교환하고 싶어요~ 언제쯤교환 가능할까요?? 택배로 받을 수 있을까요? 착불로 보내주시면됩니다!</span>
				</div>
			</div>
			<!-- 답글입력 -->
			<div class="item_line">	
				<div class="item_div">		
				<div id="comment_profile" class="item_padding">
					<img src="/img/profile.jpg">
				</div>
				<div class="comment_nickname_div">
					<h5 class="comment_nickname">윤경민</h5>
				</div>
				<span class="comment_content">반갑습니다! </span>
				</div>
			</div>
		</article>
	</section>
	<footer>
		<div id= "footer_area">
			<ul class="footer_itemlist">
				<li>
					<a class="about">GIVE ME!</a>
				</li>
			</ul>
			<div class="footer_copyright">
				<h5>© GIVE ME! All Rights Reserved.</h5>
			</div>
			<div class="footer_copyright">
			사업자 등록번호 : 000-00-00000  |  서울특별시 금천구 가산동 448 대륭테크노타운 3차 308호 7강의실  |  고객문의 : baba1399@gmail.com
			</div>
			<div class="footer_copyright">
			GIVE ME! 대표 윤경민
			</div>
		</div>	
	</footer>
</body>
</html>