<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>GIVE ME !</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src = "/js/myPage.js" ></script>
	<script type="text/javascript" src = "/js/common.js" ></script>
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/myPage.css">
</head>
<body>
	{{> layout/header}}
	<section>
		<div id="overlay_t"></div>
<!-- 		<article id="ad_article"> -->
<!-- 			<div id="ad">광 고 창</div> -->
<!-- 		</article> -->
		<article>
	   		<h1 class="title">Profile</h1>
	   		<div class = "myPage_info">
	   			<div class="myPage_profile">
	   				<img src="{{user_info.profile_img}}">
	   			</div>
	   			<div class="myPage_info2">
	   				<div class="myPage_info2_title">
	   					<h2 class="myPage_nickname">이름</h2>
	   					<h2>신뢰도</h2>
	   					<h2>주소</h2>
	   				</div>
	   				<div class="myPage_info2_content">
		   				<h3>{{user_info.nick_name}}</h3>
		   				<h3 class="myPage_trust">☆100</h3>
		   				<h3>서울특별시 금천구 가산동 448 대륭테크노타운 3차 308호 7강의실</h3>
		   			</div>
	   			</div>
	   		</div>
		</article>
		<article>
			<h1 class="title">Menu</h1>
			<div class="container">
				<ul class="tabs">
					<li class="tab_link pick" data-tab="tab_1">내 상품</li>
					<li class="tab_link pick_clear1" data-tab="tab_2">찜</li>
					<li class="tab_link pick_clear1" data-tab="tab_3">거래내역</li>
				</ul>
				<!-- tab1 -->	
				<div id="tab_1" class="tab-content pick">
					{{#myItem}}
					<div class="myPage_list">
						<div class="myPage_img_info">
							<img id="myPage_img" src="{{img_path}}">
						</div>
						<div class="myPage_item_info">
							<div class="myPage_item_title">
								<h3>{{title}}</h3>
							</div>
							<div>
								<h4>서울시 노원구</h4>
							</div>
							<div>
								<h5 class="myPage_price">{{price}}</h5>
							</div>
							<div>
								<h5 class="myPage_status">{{stat}}</h5>
								<h5 class="myPage_status right">{{date}}</h5>
							</div>
						</div>
						<div class="checkbox">
							<input class="check_box" type="checkbox">
						</div>
					</div>
					{{/myItem}}
<!-- 					<div class="myPage_list"> -->
<!-- 						<div class="myPage_img_info"> -->
<!-- 							<img id="myPage_img" src="/img/sample/sample_img1.jpg"> -->
<!-- 						</div> -->
<!-- 						<div class="myPage_item_info"> -->
<!-- 							<div class="myPage_item_title"> -->
<!-- 								<h3>안쓰는 기타 나눔합니다.</h3> -->
<!-- 							</div> -->
<!-- 							<div> -->
<!-- 								<h4>서울시 노원구</h4> -->
<!-- 							</div> -->
<!-- 							<div> -->
<!-- 								<h5 class="myPage_price">무료나눔</h5> -->
<!-- 							</div> -->
<!-- 							<div> -->
<!-- 								<h5 class="myPage_status">나눔중</h5> -->
<!-- 								<h5 class="myPage_status right">2020-04-10</h5> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 						<div class="checkbox"> -->
<!-- 								<input class="check_box" type="checkbox"> -->
<!-- 							</div> -->
<!-- 					</div> -->
					<div class="myPage_btn">
						<button>전체삭제</button>
						<button>선택삭제</button>
					</div>
				</div>
				<!-- tab2 -->	
				<div id="tab_2" class="tab-content">
					<div class="myPage_list">
						<div class="myPage_img_info">
							<img id="myPage_img" src="/img/sample/sample_img1.jpg">
						</div>
						<div class="myPage_item_info">
							<div class="myPage_item_title">
								<h3>안쓰는 기타 나눔합니다.</h3>
							</div>
							<div>
								<h4>서울시 노원구</h4>
							</div>
							<div>
								<h5 class="myPage_price">무료나눔</h5>
							</div>
							<div>
								<h5 class="myPage_status">나눔중</h5>
								<h5 class="myPage_status right">2020-04-10</h5>
							</div>
						</div>
						<div class="checkbox">
							<input class="check_box" type="checkbox">
						</div>
					</div>
					<div class="myPage_btn">
						<button>전체삭제</button>
						<button>선택삭제</button>
					</div>
				</div>
				<!-- tab3 -->	
				<div id="tab_3" class="tab-content">
					<div class="myPage_list">
						<div class="myPage_img_info">
							<img id="myPage_img" src="/img/sample/sample_img1.jpg">
						</div>
						<div class="myPage_item_info">
							<div class="myPage_item_title">
								<h3>안쓰는 기타 나눔합니다.</h3>
							</div>
							<div>
								<h4>서울시 노원구</h4>
							</div>
							<div>
								<h5 class="myPage_price">무료나눔</h5>
							</div>
							<div>
								<h5 class="myPage_status">나눔중</h5>
								<h5 class="myPage_status right">2020-04-10</h5>
							</div>
						</div>
						<div class="checkbox">
							<input class="check_box" type="checkbox">
						</div>
					</div>
					<div class="myPage_btn">
						<button id="myPage_trust_btn">신뢰도 평가</button>
					</div>
					<div id="popup_div">
						<span id="close_btn">&times;</span>
							<h2>거래는 어떠셨나요?</h2>
							<h2>만족한만큼 별점을 주세요!</h2>
							<div class="star">
								<span class="star1 on">별1_왼쪽</span>
								<span class="star2">별1_오른쪽</span>
								<span class="star1">별2_왼쪽</span>
								<span class="star2">별2_오른쪽</span>
								<span class="star1">별3_왼쪽</span>
								<span class="star2">별3_오른쪽</span>
								<span class="star1">별4_왼쪽</span>
								<span class="star2">별4_오른쪽</span>
								<span class="star1">별5_왼쪽</span>
								<span class="star2">별5_오른쪽</span>
							</div>
						<button id="star_btn">평가하기</button>
					</div>
				</div>
			</div>
			<div id="popup_div2">
				<span id="close_btn2">&times;</span>
					<h2>정말로 회원탈퇴 하시겠습니까?</h2>
					<h2>(회원님의 정보가 사라집니다.)</h2>
				<a href="/remove" class="login_a">	
					<button id="remove_btn">탈퇴하기</button>
				</a>
			</div>	
		</article>
	</section>
	{{> layout/footer}}
</body>
</html>