<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>GIVE ME !</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src = "/js/writing.js" ></script>
	<script type="text/javascript" src = "/js/common.js" ></script>
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/writing.css">
</head>
<body>
<!-- 	 <th:block th:replace="/fragments/header :: headerFragment"></th:block> -->
	<header>
		<nav>
			<div id ="login_header">
				<ul>
					<li>
						<a href="/logout" >로그아웃</a>
					</li>
					<li>
						<a href="#" onclick="location.href='/myPage';">내정보</a>
					</li>
					<li>
						<a href="#" onclick="location.href='/writing';">상품등록</a>
					</li>
				</ul>
			</div>	
		</nav>
		<div id="logo_header">
			<div class="logo">
				<img id="logo_img" src="/img/logo.png" onclick="location.href='/';">
			</div>
			<div id="search">
				<input id="search_bar"type="text" placeholder="상품명을 입력해보세요">
				<button id="search_btn">
					<img src="/img/search.png">
				</button>
			</div>
			<div>
				<a href="/login" class="login_a">
					<button id="login_btn">						
							<img id="login_img" src="/img/kakao-talk.png">
							<span>카카오 로그인</span>
					</button> 
				</a>
				<button id="category_btn"> 
					<img id="category_img" src="/img/category.png">
				</button>
			</div>
		</div>			
	</header>
	<aside id="menu_accordion">
		<span class="close">&times;</span>
		<div id="hello">
			<div id="profile">
				<img id="profile_img" src="/img/profile.jpg">
			</div>
			<div id="hi">
				<h3>윤경민님</h3>
				<h1>안녕하세요!</h1>
			</div>
		</div>
		<div id="menu_category">
		<h1>카테고리</h1>
			<ul id ="categoty_name">
				<li><a href="#" onclick="location.href='/itemList';">남성의류/잡화</a></li>
				<li><a href="#">여성의류/잡화</a></li>
				<li><a href="#">유아동/출산</a></li>
				<li><a href="#">디지털/가전</a></li>
				<li><a href="#">도서/티켓/음반</a></li>
				<li><a href="#">게임/취미</a></li>
				<li><a href="#">애완용품</a></li>
				<li><a href="#">스포츠/레저</a></li>
				<li><a href="#">가구</a></li>
				<li><a href="#">뷰티/미용</a></li>
				<li><a href="#">식품</a></li>
				<li><a href="#">기타</a></li>
			</ul>
		</div>
	</aside> 
	<section>
		<div id="overlay_t"></div>
<!-- 		<article id="ad_article"> -->
<!-- 			<div id="ad">광 고 창</div> -->
<!-- 		</article> -->
		<article>
	   		<h1 class="title">상품등록</h1>
	   		<div class="register_area">
		   		<div class="product">
		   			<img id="product_img" src="/img/upload-icon.png">
			   		<div class="product_img_btn">	
			   			<button>썸네일 이미지 등록</button>
			   			<button>서브 이미지 등록</button>
			   		</div>	
		   		</div>
		   		<div class="register">
		   			<button class="register_btn">등록하기</button>
		   			<button class="cancle_btn">취소하기</button>
		   		</div>
		   	</div>	
	   		<div class="product_info">
	   			<ul>
	   				<li class="product_info_title"><h3 class="title_1">제목</h3></li>
	   				<li class="product_info_content"><input class="title_input" type="text" placeholder="ex : 조금 오래된 자전거 나눔해봅니다. 필요하신 분 연락주세요!"></li>
	   			</ul>
	   			<ul>
	   				<li class="product_info_title"><h3 class="title_1">카테고리</h3></li>
	   				<li class="product_info_content">
	   					<select class="select_input">
	   						<option value="default" selected="selected">카테고리 선택</option>
						    <option value="">남성의류/잡화</option>
						    <option value="">여성의류/잡화</option>
						    <option value="">유아동/출산</option>
						    <option value="">디지털/가전</option>
						    <option value="">도서/티켓/음반</option>
						    <option value="">게임/취미</option>
						    <option value="">애완용품</option>
						    <option value="">스포츠/레저</option>
						    <option value="">가구</option>
						    <option value="">뷰티/미용</option>
						    <option value="">식품</option>
						    <option value="">기타</option>
			   			</select>
	   				</li>
	   			</ul>
	   			<ul>
	   				<li class="product_info_title"><h3 class="title_2">가격</h3></li>
	   				<li class="product_info_content">
	   					<input class="title_input" type="text" placeholder="숫자만 입력해주세요!">
	   					<div class="free_check">
		   					<h3 class="yn_h3">무료나눔</h3>
			   				<input class="yn_check" type="checkbox">
		   				</div>
	   				</li>
	   			</ul>
	   			<ul>
	   				<li class="product_info_title"><h3>금액제시</h3></li>
	   				<li class="product_info_content">
	   					<div class="yn_margin">
		   					<h3 class="yn_h3 blue">가능</h3>
		   					<input class="yn_check" type="checkbox">
		   					<h3 class="yn_h3 red">불가</h3>
		   					<input class="yn_check" type="checkbox">
	   					</div>
	   				</li>
	   			</ul>
	   			<ul>
	   				<li class="product_info_title"><h3>상세설명</h3></li>
	   				<li class="product_info_content"><textarea class="textarea" placeholder="상품 소개 내용을 입력하세요!"></textarea></li>
	   			</ul>
	   		</div>
		</article>
	</section>
	<footer>
		<div id= "footer_area">
			<ul class="footer_itemlist">
				<li>
					<a class="about">GIVE ME!</a>
				</li>
			</ul>
			<div class="footer_copyright">
				<h5>© GIVE ME! All Rights Reserved.</h5>
			</div>
			<div class="footer_copyright">
			사업자 등록번호 : 000-00-00000  |  서울특별시 금천구 가산동 448 대륭테크노타운 3차 308호 7강의실  |  고객문의 : baba1399@gmail.com
			</div>
			<div class="footer_copyright">
			GIVE ME! 대표 윤경민
			</div>
		</div>	
	</footer>
</body>
</html>